*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
/*.springBeans
src/main/webapp/WEB-INF/lib/*.jar
.externalToolBuilders
src/main/webapp/resources/data/spectrum_template_all.xlsm
